fastapi
uvicorn[standard]
sqlalchemy[asyncio]>=2.0
asyncpg
alembic
pydantic[email]>=2.0
argon2-cffi
PyJWT
pydantic-settings
python-multipart
aiofiles
python-dotenv
soundfile
numpy
pytest
pytest-asyncio
httpx
birdnet==0.2.16
scipy
librosa
matplotlib